body {
    background-color: lightgray; /* 将背景设置为浅灰色，非白色 */
    font-family: "Arial, Helvetica, sans-serif";
    text-align: center;
  }
  
  h1 {
    font-style: italic;
    padding-top: 10px;
  }
  
  p {
    font-size: 45px;
  }
  
  .title {
    font-weight: bold;
  }
  
  #theend {
    color: red; /* 将颜色设置为红色，非黑色 */
  }
  
  div {
    padding: 50px;
    margin: 80px;
    border: 10px solid black;
  }
  